<style lang="scss" scoped>
$base-color: #eee;
.accordion {
	&__container {
		background-color: gray;
	}
	&__wrapper {
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	&__box {
		width: 80%;
		background-color: #eee;
		color: #444;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		// margin: 0.5rem;
		box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.75);
		&__header {
			padding: 0.4rem 1rem;
			width: 100%;
			cursor: pointer;
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			&:hover {
				background-color: darken($base-color, 20%);
			}
		}
		&__content {
			padding: 0.4rem 1rem;
			width: 100%;
			background-color: rgb(255, 255, 255);
		}
	}
}
</style>

<template>
	<div>
		<div class="accordion__container">
			Accordion
			<!-- count and message == props -->
			<accordion-settings
				:accordions.sync="accordions"
				@accordion-delete-all="handleDeleteAll"
				:message="message"
				@accordion-created="handleAccordionCreated"
				@accordion-deleted="handleAccordionDeleted"
			/>
			<hr />
			<section class="accordion__wrapper">
				<template v-for="accordion in accordions">
					<custom-accordion :accordion="accordion" :key="accordion.id" />
				</template>
			</section>
		</div>
		<pre> {{ myAccordions }} </pre>
	</div>
</template>

<script>
import AccordionSettings from '../components/AccordionSettings'
import ImageExpress from '../assets/logo.png'
import Accordion from '../components/Accordion'
export default {
	name: 'accordion',
	components: {
		AccordionSettings,
		'custom-accordion': Accordion,
	},
	data() {
		return {
			message: 'myMessage',
			myAccordions: [],
			accordions: [],
			currentSelection: null,
			image: ImageExpress,
		}
	},
	methods: {
		handleAccordionCreated(payload) {
			console.log('an accordion was created', payload.id)
			this.myAccordions.push(payload)
		},
		handleAccordionDeleted(index) {
			this.myAccordions.splice(index, 1)
			console.log('an accordion was deleted', this.myAccordions)
		},
		handleDeleteAll() {
			this.myAccordions = []
		},
		handleOpen(index) {
			if (!this.currentSelection) {
				this.currentSelection = this.myAccordions[index]
			} else {
				this.currentSelection = null
			}
			this.myAccordions[index].todoIsOpen = !this.myAccordions[index]
				.todoIsOpen
		},
	},
}
</script>
