<template>
	<div>
		<h1>To Do List</h1>
		<div>
			<div>
				<input
					type="text"
					name="toDoList"
					id="toDo"
					class="my_input input is-primary is-rounded mt-4 is-small"
					v-model="myinput"
					placeholder="Add text here"
					:disabled="currentSelection"
				/>
			</div>
			<div>
				<button
					:disabled="!myinput || myinput === ''"
					class="button is-primary is-outlined is-rounded mt-4"
					value="add"
					@click="addElement"
				>Add</button>
				<button
					class="button is-danger is-outlined is-rounded ml-4 mt-4"
					@click=";(todos = []), (currentSelection = null)"
				>delete all</button>
				<label class="checkbox ml-4 mt-4">
					<input type="checkbox" v-model="filter" class="ml-4 mt-4" />
					Filtering: {{ filter }}
				</label>
			</div>
		</div>
		<div v-if="todos.length">
			<h1 class="mt-4">My To Do List:</h1>
			<div v-if="filter">
				<div class="list_item" v-for="todo in completedTodos" :key="todo.id">
					{{ todo.todoTitle }}
					{{ numbofDonetodos }}
					{{ completedTodos.length }}
				</div>
			</div>
			<section v-else class="list">
				<div v-for="(todo, index) in todos" :key="todo.id">
					<div v-if="!currentSelection" class="list_item mt-4">
						<p
							class="ml-4 mt-4"
							for="list_item"
							:disabled="todo.isTodoDone"
							:class="{ doneTaskClass: todo.isTodoDone }"
						>{{ todo.todoTitle }}</p>
						<!-- @click="todo.todoIsOpen = !todo.todoIsOpen" -->
						<button @click="handleEdit(index)" class="button is-info is-outlined is-rounded ml-4 mt-2">
							<i class="fas fa-edit is-large"></i>
						</button>
					</div>
					<div v-else>
						<div v-if="todo.todoIsOpen" class="edit">
							<input
								class="my-4 ml-4 input is-primary is-rounded is-small"
								name="list_item"
								v-model="todo.todoTitle"
								:disabled="todo.isTodoDone"
							/>
							<label class="ml-4 mt-4">
								Done :
								<input
									class="checkbox my-4"
									name="list_item_status"
									type="checkbox"
									@mouseover="hover = true"
									@mouseleave="hover = false"
									:class="{ active: hover }"
									v-model="todo.isTodoDone"
								/>
							</label>
							<br />
							<button
								class="button is-info is-pulled-left is-outlined is-rounded my-4 ml-4"
								@click="handleBack(index)"
							>Back</button>
							<button
								class="button is-danger is-outlined is-rounded is-pulled-left my-4 ml-4"
								@click="onDelete(index)"
							>delete</button>
						</div>
					</div>
					<!-- </div>  -->
				</div>
				<!-- <div>
          {{ currentSelection }}
          <div v-if="currentSelection">
            <input
              name="list_item"
              v-model="currentSelection.todoTitle"
              :disabled="currentSelection.isTodoDone"
            />
            <label>
              Done :
              <input
                class="checkbox"
                name="list_item_status"
                type="checkbox"
                @mouseover="hover = true"
                @mouseleave="hover = false"
                :class="{ active: hover }"
                v-model="currentSelection.isTodoDone"
              />
            </label>
            <br />
            <button
              class="button is-danger is-outlined is-rounded ml-4 mt-4"
              @click="onDelete(index)"
            >
              delete
            </button>
          </div>
				</div>-->
			</section>
		</div>
	</div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
export default {
	name: 'app',
	data() {
		return {
			myinput: null,
			todos: [],
			checked: false,
			hover: false,
			filter: null,
			currentSelection: null,
		}
	},
	computed: {
		completedTodos() {
			let temp = this.todos.filter(todo => todo.isTodoDone)
			return temp
		},
		numbofDonetodos() {
			return this.todos.filter(todo => todo.isTodoDone).length
		},
	},
	methods: {
		addElement: function() {
			if (this.myinput && this.todos) {
				this.show = true
				this.todos.push({
					id: 'todo_string_' + uuidv4(),
					todoTitle: this.myinput,
					todoDescription: null,
					todoIsOpen: false,
					isTodoDone: false,
				})
				this.myinput = null
			} else {
				alert('please enter a task!')
			}
		},
		handleBack: function(index) {
			this.currentSelection = null
			this.todos[index].todoIsOpen = false
		},
		handleEdit: function(index) {
			if (!this.currentSelection) {
				this.currentSelection = this.todos[index]
			} else {
				this.currentSelection = null
			}
			this.todos[index].todoIsOpen = !this.todos[index].todoIsOpen
		},
		console: function() {
			console.log('10')
			this.otherconsole()
		},
		otherconsole: function() {
			console.log('20')
		},
		onDelete: function(index) {
			this.todos.splice(index, 1)
			this.currentSelection = null
		},
	},
}
</script>

<style scoped>
.active {
	cursor: pointer;
}
.doneTaskClass {
	text-decoration: line-through;
	color: gray;
}
.list {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.list_item {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: flex-start;
}
.edit {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: left;
}
</style>
