<template>
	<div class="accordion__settings">
		<h1>Accordion Settings</h1>
		<div class="accordion__buttons">
			<div class="buttons has-addons">
				<button class="button is-static">Add new Accordion</button>
				<button class="button is-primary is-rounded" @click="addElement">
					<i class="fas fa-plus"></i>
				</button>
			</div>
			<div class="buttons has-addons">
				<button class="button is-static">Delete All</button>
				<button class="button is-danger" @click="deleteAll">
					<i class="fas fa-trash"></i>
				</button>
			</div>
		</div>

		<h1 class>Accordions:</h1>
		<div v-if="accordions.length">
			<div v-if="currentSelection" class="accordion__box">
				<div class="field has-addons">
					<p class="control">
						<button class="button is-static">Title</button>
					</p>
					<p class="control">
						<textarea
							class="textarea"
							v-model="currentSelection.accordionTitle"
							placeholder="Enter title here..."
						></textarea>
					</p>
				</div>
				<div class="field has-addons">
					<p class="control">
						<button class="button is-static">Content</button>
					</p>
					<p class="control">
						<textarea
							class="textarea"
							v-model="currentSelection.accordionContent"
							placeholder="Enter content here..."
						></textarea>
					</p>
				</div>
				<div class="field has-addons">
					<p class="control">
						<button class="button is-static">Image</button>
					</p>
					<p class="control">
						<input class="input" type="textarea" v-model="currentSelection.accordionImage" />
					</p>
				</div>
				<div class>
					<button class="button is-info is-rounded" @click="handleBack">Back</button>
				</div>
				<!-- </div> -->
			</div>
			<section v-else class="accordion__wrapper">
				<div v-for="(accordion, index) in accordions" :key="accordion.id" class="accordion__box">
					<div class>
						<div class="accordion__box1">
							<p class="accordion__box__header has-text-weight-semibold">
								Accordion
								{{
								accordion.accordionTitle
								? accordion.accordionTitle
								: accordion.id.slice(10, 15)
								}}
							</p>

							<div class="accordion__box__buttons buttons has-addons">
								<button class="button is-info" @click="handleEdit(index)">
									<i class="fas fa-wrench"></i>
								</button>
								<button class="button is-danger" @click="onDelete(index)">
									<i class="fas fa-trash"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</template>

<script>
import { v4 as uuidv4 } from 'uuid'
export default {
	name: 'app',
	props: {
		count: String,
		accordions: {
			type: Array,
			required: true,
		},
	},
	data() {
		return {
			myinput: null,
			//accordions: [],

			checked: false,
			hover: false,
			filter: null,
			currentSelection: null,
		}
	},

	methods: {
		addElement: function() {
			this.show = true
			let payload = {
				id: 'accordion_' + uuidv4(),
				accordionTitle: null,
				accordionContent: null,
				accordionImage: 'logo.png',
			}
			this.accordions.push(payload)
			this.$emit('update:accordions', this.accordions)
		},
		deleteAll: function() {
			this.myinput = null
			this.accordions = []
			this.checked = false
			this.hover = false
			this.filter = null
			this.currentSelection = null
			this.$emit('update:accordions', this.accordions)
		},
		handleBack: function() {
			this.currentSelection = null
		},
		handleEdit: function(index) {
			this.currentSelection = this.accordions[index]
		},
		onDelete: function(index) {
			this.accordions.splice(index, 1)
			this.currentSelection = null
			this.$emit('accordion-deleted', index)
		},
	},
}
</script>

<style lang="scss" scoped>
.accordion {
	&__settings {
		width: 80%;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		background-color: antiquewhite;
		margin: 0 auto;
	}
	&__buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: center;
	}
	&__wrapper {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	&__box {
		background-color: rgb(255, 255, 255);
		padding: 0.4rem 1rem;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
		margin: 0.5rem;
		box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.75);
		&__header {
		}
		&__buttons {
			margin-top: 1rem;
			justify-content: center;
		}
	}
}
.buttons:last-child {
	margin-bottom: 1rem;
}
.box:last-child {
	margin-bottom: 1.5rem;
}
.active {
	cursor: pointer;
}
.doneTaskClass {
	text-decoration: line-through;
	color: gray;
}
.list {
	display: flex;
	flex-flow: column wrap;
	justify-content: space-around;
	align-items: flex-start;
}
.list_item {
	width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.edit {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: left;
}
</style>
