<template>
	<form class id="app" @submit.prevent="formSubmit" action="https://google.com/" method="post">
		<section class="hero is-primary columns">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">Login Form</h1>
				</div>
			</div>
		</section>
		<div class>
			<div class="card">
				<div class="content">
					<div class>
						<label for="username">Username:</label>
						<input type="text" name="username" v-model="field.username" placeholder="Username" required />
					</div>
					<div class>
						<label for="password">Password:</label>
						<input :type="passwordFieldType" v-model="field.password" placeholder="Password" required />
						<span
							class="eye"
							type="password"
							@click="blueEyeFunction"
							:class="{ blueEyeClass: activeEye }"
						>&#x01f441;</span>
					</div>
					<div class>
						<div class="control">
							<label class="radio" v-for="(option, index) in checkboxValues" :key="index">
								<input
									type="radio"
									:id="option.value.toLowerCase()"
									:value="option.value"
									@mouseover="hover = true"
									@mouseleave="hover = false"
									:class="{ active: hover }"
									v-model="field.gender"
									required
								/>
								{{ option.label }}
							</label>
						</div>
						<br />
					</div>
					<div class>
						<label for="agree">I Agree to Terms</label>
						<input
							type="checkbox"
							name="agree"
							id="agree"
							@mouseover="hover = true"
							@mouseleave="hover = false"
							:class="{ active: hover }"
							v-model="field.aggreement"
							required
						/>
						<!-- @click="updateAgree" no vallue needed -->
					</div>
					<footer class="card-footer">
						<div class="card-footer-item">
							<button type="sumbit" class="btn" value="submit">Submit</button>
							<button type="reset" value="reset" class="btn">Reset</button>
						</div>
					</footer>
				</div>
			</div>
		</div>
		<div class :style="{ backgroundColor: 'red' }">
			<div class>Username: {{ field.username }}</div>
			<div class>Password: {{ field.password }}</div>
			<div class>Gender: {{ field.gender }}</div>
			<div class>I Agree: {{ field.aggreement }}</div>
		</div>
	</form>
</template>

<script>
export default {
	name: 'app',
	data() {
		return {
			checkboxValues: [
				{ label: 'Male', value: 'Male' },
				{ label: 'Female', value: 'Female' },
			],
			hover: false,
			activeEye: false,
			passwordFieldType: 'password',
			field: {
				username: null,
				password: null,
				aggreement: null,
				gender: null,
			},
			submitted: {
				username: null,
				password: null,
			},
		}
	},
	methods: {
		formSubmit: function(event) {
			if (
				this.sumbitted.username &&
				this.sumbitted.password &&
				this.agree1
			) {
				if (this.submitted.username && this.submitted.password) {
					this.submitted.username = this.input.username
					this.submitted.password = this.input.password
					this.input.username = this.input.password = null
					this.agree1 = null
					event.preventDefault()
					event.target.reset()
					return true
				}
			} else {
				alert('The username and / or password is incorrect')
			}
		},
		// resetForm: function(event) {
		//   this.input.username = null;
		//   this.input.password = null;
		//   this.checkedGender = null;
		//   this.agree1 = null;
		//   event.preventDefault();
		//   event.target.reset();
		// },
		// updateAgree: function() {
		//   if (!this.agree1 || this.agree1 === "No") {
		//     this.agree1 = "Yes";
		//   } else {
		//     this.agree1 = "No";
		//   }
		// },
		blueEyeFunction: function() {
			if (!this.activeEye) {
				this.activeEye = true
			} else {
				this.activeEye = false
			}
			this.passwordFieldType =
				this.passwordFieldType === 'password' ? 'text' : 'password'
		},
	},
}
</script>

<style scoped>
.active {
	cursor: pointer;
}
.blueEyeClass {
	color: blue;
}
.eye:hover {
	cursor: pointer;
}
.eye {
	margin-left: -25px;
}
.btn:hover {
	cursor: pointer;
}
</style>
